{% extends 'movie_rate.html' %}
{% load static %}
{% block output %}

            <article class="one_third first" >
                <figure>
                    <img src="{{temp_name.movie_image.url}}" width="70px" height="70px" alt="img">
                </figure>
                <div class="txtwrap">
                  <!--<h4 class="heading">{{temp_name.movie_name}}</h4>-->
                  <h4 class="heading">{{temp_name.movie_name}}</h4>
                  <h4 class="heading">{{temp_name.movie_year}}</h4>
                  <ul class="nospace meta">
                  </ul>
                  <p>{{temp_name.movie_director}}</p>
                  <footer>{{temp_name.movie_studio}}</footer>
                </div>
            </article>

            <article class="one_third" style="width:50%;">
                <div class="txtwrap" style="width:150%;">
                    <p>
                        <h1>Overall Rating: {{rating}}  </h1>
                        <h1>{{x}}</h1>

                    </p>
              </div>
            </article>

{% endblock %}